<div class="pages">
  <h2 class="headline">Receive an email if windy tomorrow!</h2>
  <h3 class="headline">For kitesurfing, windsurfing, sailing, or any activity that depends on the wind.</h4>

  <div class="row call-to-action">
    <div class="col-sm-10 col-md-6">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#sign-up" role="tab">Create new account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#sign-in" role="tab">Login to existing account</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="sign-up" role="tabpanel">
          <%= render "devise/registrations/sign_up_form" %>
        </div>
        <div class="tab-pane" id="sign-in" role="tabpanel">
          <%= render "devise/sessions/sign_in_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
