.pages {
  h2.headline {
    margin: 20px 0 18px;
    font-size: 28px;
  }

  .headline {
    font-size: 24px;
  }

  .call-to-action {
    margin-top: 50px;
  }

  .tab-content {
    margin-top: 20px;
  }

  .spot-list {
    .list-group-item {
      padding: 10px;
      margin-left: 2px;
    }
  }

  form#new_user_spot {
    margin-top: 32px;
  }
}
